nav {
    background-color: transparent;
    height: 3.5rem;
    color: rgb(4, 1, 1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.homescreen{
    background-color: black;
    color: white;
}